<app-navbar></app-navbar>

<section id="home" class="mb-5 mt-5">
<br>
<h1>Forum</h1>
<br>   
<div class="flex-container">
  <div>
<button type="submit" routerLink="/addtopic" class="btn btn-primary mb-2">Crear tópic</button>
 </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<div>
<form class="form-inline md-form mr-auto mb-4"  (submit)="filtro($event)">

 <select class="form-control" id="flitro" placeholder="name@example.com">
  <option>Selecionar filtro </option>
  <option>Tots els tòpics</option>
  <option>Títul</option>
  <option>Esport</option>
  <option>Tipus</option>

</select>
  <input class="form-control mr-sm-2" id="filtro2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>
</div>
</div>
    <div class="table-responsive">
      <!--Table-->
      <table class="table table-striped"  >

        <!--Table head-->
        <thead>
          <tr>
            <th>Títul</th>
            <th>Autor</th>
            <th>Esport</th>
            <th>Tipus</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody *ngFor="let X of Temas">
          <tr>
            <td routerLink="/mensages/{{X.id}}">{{X.title}}</td>
            <td>{{X.creatorName}}</td>
            <td>{{X.sport}}</td>
            <td>{{X.type}}</td>
          </tr>
         
         
        </tbody>
        <!--Table body-->

      </table>

      <!--Table-->
    </div> 
  </section>
  
  
  
  