<app-navbar></app-navbar>

<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form (submit)="RegisterUser($event)" >
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                
                <div class="form-group">
                  <input type="text" name="name" id = "name"  class="form-control" placeholder="Name"  required minlength="4"
                    maxlength="15">
                </div>

              
               
                <div class="form-group">
                  <input type="password"  name="password" id = "password" class="form-control" placeholder="Password" 
                    required minlength="5" maxlength="10">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <select class="form-control" id="privacidad" placeholder="name@example.com">
                    <option>Privacidad de la cuenta :Privada/Publica</option>
                    <option>Publica</option>
                    <option>Privada</option>
                    
                  </select>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                </div>
                <div>
                <div *ngIf="emailwrong">
                    <p style="color:#FF0000">Email incorrecte</p>
                </div>

                <div *ngIf="faltancampos">

                  <p style="color:#FF0000">Camps buits</p>
              </div>

              
              <div *ngIf="usuarioexistente">
                <p style="color:#FF0000">usuari/email existent</p>
              </div>
            </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>