<app-navbar></app-navbar>
<br>
<br>
<br>
<div  class="container-sm">
<h1>{{info.title}}</h1>
</div>
<br>

<div  class="container-sm">
  <div class="card">
      <div class="card-header">
          {{info.idUser}}
      </div>
      <div class="card-body">
        <p class="card-text">{{info.message}}</p>
      </div>
    </div>
    <br>
</div>

<div *ngFor="let aux of mensage" class="container-sm">
    <div class="card">
        <div class="card-header">
            {{aux.userId}}
        </div>
        <div class="card-body">
          <p class="card-text">{{aux.message}}</p>
        </div>
      </div>
      <br>
</div>
<div class="container-sm">
<form (submit)="addMensajes($event)">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Introduce tu mensaje </label>
      <textarea class="form-control" id="texto" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Enviar mensaje</button>

  </form>
</div>
